body {
    font-family: "Helvetica", "Lucida Grande", sans-serif;
}

h1 {
    color: #3D3D3D;
    background-color: #E1EDF2;
}

h2 {
    border-bottom: 2px solid black;
}

figure {
    text-align: center;
    background-color: whitesmoke;
    color: lightgray;
    }